<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div id="app">
    <h1>Мои заметки</h1>
    <div class="board">
        <div class="column" v-for="column in columns" :key="column.id">
            <h2>{{ column.title }}</h2>
            <div v-for="card in cards.filter(c => c.col === column.id)"
                 :key="card.id" class="card">
                <div class="card">
                    <input v-model="card.title" placeholder="Заголовок">
                    <ul>
                        <li v-for="(item, idx) in card.items" :key="idx">
                            <input type="checkbox" v-model="item.completed">
                            <input v-model="item.text" placeholder="Текст пункта">
                            <button v-if="card.items.length > 3" @click="removeItem(card, idx)">✖</button>
                        </li>
                    </ul>
                    <button v-if="card.items.length < 5" @click="addItem(card)">+ Добавить пункт</button>
                </div>
            </div>

        </div>

    </div>
</div>


<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="scripts/main.js"></script>
</body>
</html>